.item-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.item-project a {
    display: inline-block;
    max-width: 60%;
}

.item-project img {
    display: inline-block;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 0 rgba(255, 255, 255, 1);
}

.item-project p {
    font-size: 20px;
}

.paragraph-container {
    max-width: 60%;
    text-align: center;
    margin: 3rem 0;
}

.paragraph-container h3 {
    text-align: start;
    font-weight: bold;
}

.project-btn {
    display: flex;
    justify-content: space-between;
}
