#home {
    position: relative;
    height: 100vh;
}

.bg-section {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#home .container {
    position: absolute;
    top: 30%;
    padding-left: 10rem;
}

h1 {
    width: 80%;
    font-size: 5rem;
    font-weight: 400;
}

h1 span {
    font-weight: bold;
}

#home button {
    background-color: white;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    font-size: 2rem;
}

.profile {
    width: 72%;
    position: absolute;
    right: 0;
    bottom: 0;
}