body {
    /* background-image: url(../../../public/images/background/Recurso\ 4.png); */
    background-size: cover;
    /* height: 100vh; */
    /* position: absolute; */
    /* background-attachment: fixed; */
    background-position: top left;
    /* z-index: 100; */
}

.bg-section {
    z-index: -2;
    position: relative;
}

#home {
    display: flex;
    /* background-image: url(../../../public/images/background/BgHome.png);
    background-position: center center;
    background-size: cover;
    height: 100vh; */
}

#home .container {
    /* width: 45%; */
    /* position: relative; */
    top: 180px;
    /* padding-left: 10rem; */
}

h1 {
    /* width: 80%; */
    font-size: 5rem;
    font-weight: 400;
}

h1 span {
    font-weight: bold;
}

#home button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 0;
    font-size: 2rem;
    max-width: 35%;
    margin: 2rem 0;
}

#home button span {
    margin: 0 1rem;
}

.profile {
    max-width: 45%;
    max-height: 700px;
    position: relative;
    top: 200px;
    right: 0px;
    /* bottom: 0px; */
}

.arrow {
    width: 10%;
}