.bg-section {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#home .container {
    position: absolute;
    top: 30%;
    padding-left: 10rem;
}

h1 {
    width: 80%;
    font-size: 5rem;
    font-weight: 400;
}

h1 span {
    font-weight: bold;
}

#home button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 0;
    font-size: 2rem;
    max-width: 35%;
    margin: 2rem 0;
}

#home button span {
    margin: 0 1rem;
}

.profile {
    max-width: 45%;
    max-height: 700px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.arrow {
    width: 10%;
}