.header {
    background-image: url(../../../public/images/background/BgHome.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}