#about {
    position: relative;
    min-height: 100vh;
}

#about .container {
    color: #555555;
}

h2 {
    text-align: center;
    padding-top: 4rem;
    font-size: 3.8rem;
    font-weight: 400;
}

.title-line {
    margin: 3rem auto 0 auto;
    width: 100px;
    height: 7px;
    background-color: rgb(27, 230, 196);
    border: none;
}

.container-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-about img {
    width: 45%;
    margin-right: 2rem;
    padding: 2rem 0;
}

.container-about p {
    width: 45%;
    margin: 0;
    margin-left: 2rem;
    padding: 4rem 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
}